doctype html
html
  head
    meta(charset="utf-8")
    title Cookie consent
    link(rel="stylesheet" href="css/main.css" type="text/css")
    script(src="http://code.jquery.com/jquery-2.2.1.min.js")
    // Cookie consent by Dávid Kovács begins
    script(type="text/javascript").
      var cookieConsentOptions = {
        // the description of everything
        text : "Ez a weboldal sütiket használ, hogy a legjobb élményt biztostítsa Önnek.",
        // more info text
        moreInfoText : "További információ...",
        // relative or absolute link to the cookie policy
        moreInfoLink : "cookieconsent.html",
        // the whitch will be on the approval button
        buttonText : "Értem!"
      };
    link(rel="stylesheet" href="css/cookieconsent.css" type="text/css")
    script(src="js/cookieconsent.js")
    // Cookie consent by Dávid Kovács ends
  body
    h1 Süti tájékoztató
    h2 Mik azok a sütik? 
    p Kis méretű fájlok, melyek a felhasználó számítógépén, mobiltelefonján, vagy egyéb internetes hozzáférésre alkalmas eszközén tárolhatók. A süti információkat tartalmaz, melyet minden a szerver felé küldött kérés során a webszerver küld a böngészőnek, majd a böngésző visszaküld a szervernek.
    p Sütik nem tartalmaznak futtatható állományokat, kémprogramokat vagy vírusokat és nem férnek hozzá a felhasználó merevlemezén tárolt adatokhoz sem. Mivel szinte minden nagyobb hazai és nemzetközi weboldal használ sütiket, így letiltásuk esetén sok funkció vagy akár teljes oldalak használata is lehetetlenné válik.
    h2 A sütik felhasználása
    p A weboldalak gyakran használnak sütiket, hogy ellenőrizzék, a felhasználó bejelentkezett-e amikor egy védett oldalt szeretne megtekinteni.  Lehetővé teszik például, hogy ne kelljen újra és újra bejelentkezni minden egyes alkalommal, ha az oldalt újratöltjük vagy másik oldalra navigálunk.<br> Ezen kívül anonim statisztikák elkészítéséhez is felhasználhatóak, melyek értékes információkkal szolgálnak például a felhasználók oldalhasználati szokásaival kapcsolatban.
    p A mi esetünkben például segítenek meghatározni, hogy honnan érkezett egy felhasználó az oldalunkra (keresőn keresztül, közvetlenül, más weblapról, stb.), ezen kívül mely oldalakat látogatta meg és mennyi időt töltött el az egyes oldalakon.<br> Az így kapott adatokat az oldalunk fejlesztésére használjuk fel, hogy minél teljesebb élményt nyújthassunk a látogatóknak.
    h2 Milyen sütik léteznek?
    p Állandó sütik: Meghatározott ideig maradnak a böngészőben, vagy amíg a felhasználó nem törli őket. 
    p Ideiglenes sütik: A bejelentkezett időszak végéig, vagy az alkalmazás (böngésző) bezárásáig maradnak a felhasználó eszközén.
    h2 Miért jó, hogy vannak sütik az interneten?
    p Az Internet hatékony működésének központi elemei, hozzásegítik a felhasználót a kényelmes böngészéshez. A sütik korlátozása vagy tiltása bizonyos oldalak működését lehetetlenné tenné.
    h2 Tartalmaz a süti személyes adatokat?
    p A sütik hatékony működéséhez semmilyen személyes jellegű adatra nincs szükség.<br> A böngészők alaptértelmezetten engedélyezik a sütik használatát az eszközön. Ezek a beállítások megváltoztathatók úgy, hogy a sütik automatikus kezelését a böngésző blokkolja vagy értesítse a felhasználót, ha az eszközre sütit küldenek.
    p A sütik kezelésére vonatkozó beállítások a böngésző beállításai között találhatóak. Lásd: Süti beállítások néhány népszerűbb böngészőben címszó alatt!<br> Fontos azonban, hogy a sütik korlátozása vagy tiltása negatívan befolyásolhatja az oldal bizonyos funkcióinak működését!
    h2 Adatbiztonság és biztonság
    p A sütik egyszerű szöveges fájlok, nem futtathatók, így nem tekinthetők sem programnak, sem vírusnak
    p A sütik tárolnak a felhasználó igényeire és navigálási előzményeire vonatkozó információkat, így akár rosszindulatú felhasználás (spyware) is elképzelhető. Ezért sok antivírus program a sütiket törli a felhasználó számítógépéről a különféle átvizsgálási folyamatok (valós idejű védelem, teljes rendszervizsgálat stb…) során.
    p Mivel a személyazonosság védelme fontos és minden internet-felhasználó alanyi joga, ezért fontos tudni, hogy a sütik használata során milyen problémák merülhetnek fel:<br> A sütikben tárolt információ folyamatosan áramlik, a szerver és a felhasználó gépe között mindkét irányba, ezért ha egy támadó beavatkozik az adattovábbításba, a sütik által tárolt információk lekövethetők. Amennyiben a böngészés kódolatlan csatornákon zajlik, megnő a támadás valószínűsége. Az így megszerzett információk segítségével a támadók illetéktelenül hozzáférést nyerhetnek akár weboldalakhoz is.
    h2 Tanácsok
    p A sütik teljes letiltásával a legtöbb népszerű oldal (pl.: Google, YouTube, Yahoo) veszít a funkcióiból, vagy teljesen használhatatlanná válik, ezért a tiltás nem jelent megoldást. Ön mégis sokat tehet a böngészés biztonságáért, ha megfogadja a következő tanácsokat: 
    ul
      li Szabja személyre a böngésző beállításait a sütikre vonatkozóan úgy, hogy azok használata az Ön számára biztonságos legyen, a sütik által biztosított funkciók megtartása mellett!
      li Ha a számítógépét nem csak Ön használja, mindig ügyeljen rá, hogy törölje a böngésző által megjegyzett adatokat (létezik erre automatikus megoldás is). 
      li Rendszeresen frissítse a kémprogramok elleni szoftvereinek adatbázisát! Sok esetben ezen programok valós időben figyelik a böngészést és figyelmeztetnek, amennyiben nem biztonságos oldalt kíván megnyitni a felhasználó (bizonyos beállítások mellett akár automatikusan blokkolja azok betöltődését). Ennek köszönhetően a felhasználók nehezebben, vagy csak szándékosan juthatnak olyan oldalra, ahol veszélynek vannak kitéve. Fontos, hogy a számítógépére telepített antivírus szoftver is a lehető legnaprakészebb legyen! 
      li A támadások jelentős része a böngésző bizonsági résein keresztül történik. Minél régebbi egy böngésző, annál több ilyen gyenge pont található benne, ezért ügyeljen rá, hogy a böngészője is naprakész legyen!
    h2 Süti beállítások néhány népszerűbb böngészőben
    p Süti beállítások az Internet Explorerben:<br> (https://support.microsoft.com/hu-hu/kb/196955)<br> Süti beállítások a Firefoxban:<br> (https://support.mozilla.org/hu/kb/sutik-informacio-amelyet-weboldalak-tarolnak-szami)<br> Sütik beállítása Chromeban:<br> (https://support.google.com/chrome/answer/95647?hl=hu)
    h2 További hasznos linkek
    p http://www.youronlinechoices.com/hu/<br> http://www.allaboutcookies.org/
    
