doctype html
html
  head
    meta(charset="utf-8")
    title Cookie consent
    link(rel="stylesheet" href="css/main.css" type="text/css")
    script(src="http://code.jquery.com/jquery-2.2.1.min.js")
    // Cookie consent by Dávid Kovács begins
    script(type="text/javascript").
      var cookieConsentOptions = {
        // the description of everything
        text : "Ez a weboldal sütiket használ, hogy a legjobb élményt biztostítsa Önnek.",
        // more info text
        moreInfoText : "További információ...",
        // relative or absolute link to the cookie policy
        moreInfoLink : "cookieconsent.html",
        // the whitch will be on the approval button
        buttonText : "Értem!"
      };
    link(rel="stylesheet" href="css/cookieconsent.css" type="text/css")
    script(src="js/cookieconsent.js")
    // Cookie consent by Dávid Kovács ends
  body
    .test-content
      h1 Lorem Ipsum
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut mattis purus dictum nulla pharetra, eu dapibus arcu viverra. Fusce et est vitae leo posuere semper id et nisi. Curabitur bibendum a orci a facilisis. Sed nec maximus tellus. In in rhoncus risus. Sed nulla erat, hendrerit a dapibus ac, efficitur nec enim. Sed id nibh id ex consectetur ultricies. Praesent dictum pellentesque tortor, tempus aliquam lorem vestibulum quis. Morbi eget vulputate turpis. Nulla ac nunc et nulla consectetur condimentum. Integer ac diam tellus.
      
      p Integer et quam risus. Ut vehicula, leo efficitur hendrerit hendrerit, nisi ligula tempor nunc, id vehicula metus velit vitae metus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Integer sit amet libero justo. Vestibulum magna magna, vehicula tristique augue vel, imperdiet accumsan dolor. Nunc a mauris vitae eros consequat posuere eu et urna. Vestibulum semper ligula et aliquet sollicitudin. In congue ultricies massa eget consequat. Nulla sollicitudin iaculis massa ut aliquam. Pellentesque congue tortor ut mauris aliquet finibus non at orci.
      
      p Nullam hendrerit nisi non justo rutrum feugiat. Ut a dui at dolor aliquet mollis nec ut turpis. Curabitur imperdiet imperdiet volutpat. Cras urna magna, maximus non tempor ac, laoreet vitae arcu. Praesent lacinia lectus nulla, vitae euismod massa ullamcorper eu. Sed condimentum quam a sollicitudin tempor. Nam ut consectetur lacus. Curabitur posuere nisl massa, ut ornare tortor tincidunt eu.
    
